ipykernel
nb_conda_kernels
requests
pandas
python-dotenv
psycopg2
plotly
psycopg2
praw
# numpy
# scipy
# tensorflow
# theano
# keras
# seaborn
# bokeh
# plotly
# statsmodels
# gensim
# nltkw
# kivy
# xgboost
# lightgbm
# catboost
# pydot
# eli5
# spacy
# textblob
# textacy
# ftfy
# fuzzywuzzy
# inflect
# django
# dash
# dask
# transformers
# flask

# Unable to find in conda forge
# pycaret
# dist-keras
# fast-bert
# sktime
# calmjs
# bert-for-tf2
# streamlit
# transformers-keras
# spacy-streamlit