# Created by .ignore support plugin (hsz.mobi)
redditor_presentation-figure
redditor_presentation.md
.env*
postgres.bak
airflow/data
.idea
.Rhistory
.Rproj.user
redditor.Rproj
.gitignore.swp
postgres_data
postgres.bak
*.pem
postgres.tar.gz
*.remote
.Renviron
