postgres:
  image: local_postgres
  restart: always
  environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - POSTGRES_DB=${POSTGRES_DB}
  ports:
    - 5432:5432
  volumes:
    - local_postgres:/var/lib/postgresql/data